{% extends 'base.html' %}
{% block title %}Product_view{% endblock %}
{% block menu %}

{% endblock %}
{% block content %}
   <div class="container">
       <a href="{% url 'webapp:product_create'  %}">create</a>
       {% for product in products %}
            <h2>{{ product.title }}</h2>
            <div>Категория: {{ product.category }}</div>
            <a href="{% url 'webapp:product_view' product.pk %}">More...</a>
           <a href="{% url 'webapp:product_delete' product.pk %}">delete</a>
           <a href="{% url 'webapp:product_update' product.pk %}">update</a>

        {% endfor %}

   </div>
{% endblock %}