{% extends 'base.html' %}
{% block title %}Product_view{% endblock %}
{% block menu %}
{% endblock %}
{% block content %}
    <div class="container">
        {% if not product.picture or product.picture == 'False' %}
            {% load static %}
            <img class="avatar" src="{% static 'images/no_photo.jpg' %}" width="250" height="250" alt="no picture">
        {% else %}
            <img class="avatar" src="{{ product.picture.url }}" width="250" height="250" alt="product picture">
        {% endif %}
        <h1>{{ product.name }}</h1>
        <p>Категория: {{ product.category }}</p>
        <p>Описание: {{ product.description }}</p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <h3>Отзывы:</h3>
    {% for review in product.reviews.all %}
        <div class="task">
            <p><b>{{ review.user }}</b></p>
            <p>Отзыв: {{ review.review_text }}</p>
            <p>Оценка: {{ review.assessment }}</p>
            <p class="projects-links">
                <a href="{% url 'webapp:review_update' review.pk %}">Edit</a>
                <a href="{% url 'webapp:review_delete' review.pk %}">Delete</a>
            </p>
        </div>
    {% empty %}
        <p>Нет отзывов.</p>
    {% endfor %}
        <form action="{% url 'webapp:product_review_create' product.pk %}" method="POST" id="add_review">
            {% include 'partial/form.html' with button_text='Add review' %}
        </form>
{% endblock %}